* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: all 0.25s;
}

:root {
  --bg-color: #000000;
  --btn-color: #252525;
  --accent-color: #4bff4b;
  --main-t-color: #ffffff;
  --sec-t-color: #aaaaaa;
  --border-r-b: 25px;
  --border-r-s: 15px;
  --sec-bg-color: #1f1f1f;
  --third-bg-color: #2b2b2b;
  --header-height: 110px;
  --menu-height: 100px;
}

body {
  background-color: var(--bg-color);
  height: 100dvh;
  width: 100vw;
}

button {
  background-color: transparent;
  border: none;
}

.header {
  background-color: transparent;
  height: var(--header-height);
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: bottom;
  outline: 1px solid var(--sec-bg-color);
}
.header-title {
  color: var(--main-t-color);
}
.header-count {
  color: var(--sec-t-color);
  font-size: 0.75rem;
}

.main {
  background-color: var(--bg-color);
  height: calc(100% - var(--menu-height) - var(--header-height));
  width: 100%;
  overflow-x: hidden;
}
.main-container {
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.task {
  background-color: var(--sec-bg-color);
  min-height: 60px;
  max-height: 100px;
  width: 100%;
  padding: 10px;
  border-radius: var(--border-r-s);
  overflow: hidden;
  display: flex;
  gap: 1rem;
}
.task:active {
  -webkit-backdrop-filter: brightness(150%);
          backdrop-filter: brightness(150%);
}
.task-check {
  margin: auto 1rem;
  accent-color: var(--accent-color);
  height: 20px;
  width: 20px;
}
.task-area {
  max-height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  box-shadow: inset -5px 0 10px -5px var(--sec-bg-color);
}
.task-text {
  color: var(--main-t-color);
  margin: auto 0;
}
.task-del {
  width: auto;
  transform: translateX(150%);
}
.task-del-img:active {
  fill: var(--accent-color);
}

.button-text {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  background: transparent;
  height: -moz-min-content;
  height: min-content;
  width: -moz-min-content;
  width: min-content;
  border: none;
  outline: none;
  color: var(--accent-color);
  font-size: 1rem;
}
.button-text:active {
  filter: brightness(75%);
}

.window {
  background-color: var(--sec-bg-color);
  height: -moz-min-content;
  height: min-content;
  width: calc(100vw - 20px);
  padding: 20px;
  border-radius: var(--border-r-b);
  position: fixed;
  bottom: 0;
  left: 10px;
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 11;
}
.window-menu {
  display: flex;
  justify-content: space-between;
}
.window-title {
  color: var(--main-t-color);
  font-size: 1rem;
  font-weight: 700;
}
.window-input {
  background-color: var(--third-bg-color);
  width: 100%;
  color: var(--main-t-color);
  padding: 15px;
  margin-bottom: 0px;
  border: none;
  border-radius: var(--border-r-s);
  outline: none;
}
.window-curtains {
  background-color: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 10;
}

.menu {
  background-color: transparent;
  height: var(--menu-height);
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
}
.menu-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: var(--btn-color);
  height: 100%;
  width: 100%;
  border-radius: var(--border-r-s);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-t-color);
}
.menu-btn-title {
  font-size: 1rem;
}
.menu-btn:active {
  filter: brightness(150%);
}
